<div id="nav" class="nav"><a href="#" class="">1</a><a href="#" class="">2</a><a href="#" class="activeSlide">3</a><a href="#" class="">4</a><a href="#" class="">5</a><a href="#" class="">6</a><a href="#" class="">7</a><a href="#" class="">8</a></div>
<ul id="homepage_cycle">
  <% @cycle_images.each do |cycle_image| %>
    <li>
      <%= link_to image_tag(cycle_image.image.url), product_path(cycle_image.link) %>
    </li>
  <% end %>
</ul>
<script>
  $('#homepage_cycle').cycle({
    pager:  '#nav'
  });
</script>